
header{
    width :1000px;
    height:100px;
    border-bottom:1px solid black 
}
nav{
    width:1000px;
    height: 50px;
    background-color: rgb(226, 255, 245);
    box-sizing: border-box;
}
nav a{
    margin: 1%;
    float: left;
    background-color: bisque;
    width: 100px;
    padding: 3px;
    text-align: center;
    text-decoration: none;
}
section{
    background-color: rgb(194, 194, 194);
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
}
#text p{
    padding: 10px;
    width: 500px;
    /* box-sizing: border-box; */
}
#text h2 {
    text-align: center;
}
#image {
margin: auto;
}
footer{
    background-color: antiquewhite;
    width: 1000px;
    height: 50px;
}
footer h2 {
    margin: 5px;
    text-align: center;
}
