.product{
  display: flex;
  background-color: rgb(222, 255, 255);
  border: 1px solid black;
  margin: 10px;
  justify-content: space-around;

}
span[class='prName']{
  font-size: xx-large;
  display: inline;
  width: 90%;
}
button[action='add']{
 font-size: xx-large;
 border: none;
}


.products{
  background-color: azure;
  width: 30%;
  height: 100vh;
  position: fixed;
  right: 0px;
overflow-y: scroll;
}
.addproduct{
  display: flex;
  background-color: rgb(222, 255, 255);
  border: 1px solid black;
  margin: 10px;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width:25%;
  font-size: xx-large;
}