body{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
}
input{
    font-size: x-large;
    width: 90%;
}
button{
    font-size: x-large;
}
#main{
    display: flex;
    flex-direction: row;
}